<div class="row">
    <div class="col-lg-12 text-center">
        <h1>About Us</h1>
        <p class="lead">The WCE Forum.</p>
        <ul class="list-unstyled">
            <li>The Walchand College of Engineering, Sangli is well known for its tradition of helping its counterparts as well as guiding the fellow juniors.</li>
            <li>To acheive this in a more professional manner, students can post professional articles which can be viewed by other registered users. </li>
            <li>Posts regarding doubts related to academics or domains can also be added.</li>
            <li>Open to all branches!</li>
        </ul>
    </div>
</div>
