<div class="row">
  <div class="col-lg-12 text-center">
      <h1>Contact Us</h1>
      <p class="lead">Any suggestions for the development of this site would be appreciated.</p>
      <ul class="list-unstyled">
          <li></li>
          <li></li>
      </ul>
  </div>
  <%= render 'pages/mailer' %>
</div>